<% featured_project = Project.last %>
<div class="user_panel">

  <div class="user_header">
    <%= image_tag current_user.photo_url, width: 100, class: "round" %>
  </div>

  <div class="user_stats_container">
    <table>
      <tr>
        <th>PROJECTS</th>
        <th></th>
        <th></th>
        <th>TOTAL IMPACT</th>
        <th></th>
        <th></th>
        <th>MILES</th>
      </tr>
      <tr>
        <td>9</td>
        <td></td>
        <td></td>
        <td><% current_user.total_donated %></td>
        <td></td>
        <td></td>
        <td><%= current_user.total_distance %></td>
      </tr>
    </table>
  </div>

  <div class="user_project_container">
    <% if current_user.current_project %>
      <div class="fund_avatar"/>
        <%= image_tag('watsi-logo.png', height: '23', width: '100', class: 'featured-logo' ) %>
        <%= image_tag("http://images-1.good.is/albums/crop?image_url=" + current_user.current_project.avatar_url + "&geometry=120x120%23", class: 'featured_avatar') if featured_project.avatar_url %>
      </div>

      <div class="featured-right-container">

        <% progress_number = ((contribution.to_f/current_user.projects.last.target_amount.to_f)*100).round(0) %>

        <div class="featured_project_progress_bar">
          <progress value="<%= progress_number %>" max="100" style="width: 330px;"></progress>
        </div>


        <div class="percent_completed"><%= progress_number %>%<div class="subtext">COMPLETED</div></div>
        <div class="featured_project_stat">$<%= contribution %> / <%= featured_project.target_amount %><div class="subtext">RAISED SO FAR</div></div>
        <div class="heros">32<div class="subtext">HEROES</div>
      </div>
    <% else %>
      <h3>You don't have any projects yet!</h3>
    <% end %>
  </div>

  <table>
    <tr>
      <td>Percent funded</td>
      <% @wishbone.first.keys.each do |key| %>
        <th><%= key %></th>
      <% end %>
    </tr>
    <tbody>
      <% @wishbone.each do |bone| %>
        <tr>
          <td>
            <%= number_to_percentage(((bone["total_fees"]-bone["left_to_raise"])/bone["total_fees"])*100) %>
          </td>
          <% bone.values.each do |val| %>
            <td>
              <% if val.to_s.match(/http/) %>
                <%= link_to "link", val %>
              <% else %>
                <%= truncate(val.to_s, length: 20) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>
