<div class="user_panel">

  <div class="runkeeper_profile_image">
    <%= image_tag current_user.photo_url, width: 100, class: "round" %>
  </div>

  <div class="user_stats_container">
    <table>
      <tr>
        <th>PROJECTS</th>
        <th></th>
        <th></th>
        <th>TOTAL IMPACT</th>
        <th></th>
        <th></th>
        <th>MILES</th>
      </tr>
      <tr>
        <td>9</td>
        <td></td>
        <td></td>
        <td><%= number_to_currency database_user.total_donated %></td>
        <td></td>
        <td></td>
        <td><%= database_user.total_distance %></td>
      </tr>
    </table>
  </div>

  <div class="user_project_container">

    <div class="fund_avatar"/>
      <%= image_tag('watsi-logo.png', height: '23', width: '100', class: 'featured-logo' ) %>
      <%= image_tag("http://images-1.good.is/albums/crop?image_url=" + featured_project.avatar_url + "&geometry=120x120%23", class: 'featured_avatar') if featured_project.avatar_url %>
    </div>

    <div class="featured-right-container">
      <div class="featured_text">
        <p>YOU'VE RUN <%= database_user.total_distance %> MILES FOR <%= featured_project.name.upcase %></p>
      </div>
      <% contribution = featured_project.raised_amount %>
      <% if contribution  > featured_project.target_amount %>
        <% contribution = featured_project.target_amount %>
      <% end %>
      <div class="featured_project_progress_bar"><% progress_number = ((contribution.to_f/featured_project.target_amount.to_f)*100).round(0) %>
      <progress value="<%= progress_number %>" max="100" style="width: 330px;"></progress></div>
      <div class="percent_completed"><%= progress_number %>%<div class="subtext">COMPLETED</div></div>
      <div class="featured_project_stat">$<%= contribution %> / <%= featured_project.target_amount %><div class="subtext">RAISED SO FAR</div></div>
      <div class="heros">32<div class="subtext">HEROES</div>
    </div>
  </div>

</div>
