<div class="leaderboard">
  <div class="leaderboard_title">LEADERBOARD</div>
  <table class="table table-striped">
    <tbody>
      <%= render :partial => "shared/leaderboard_item", :locals => {:name => 'Homie G', :progress => '500', :amt => '150'} %>
      <%= render :partial => "shared/leaderboard_item", :locals => {:name => 'Julie', :progress => '420', :amt => '120'} %>
      <%= render :partial => "shared/leaderboard_item", :locals => {:name => 'Susan', :progress => '380', :amt => '100'} %>
      <%= render :partial => "shared/leaderboard_item", :locals => {:name => 'Kate', :progress => '350', :amt => '80'} %>
      <%= render :partial => "shared/leaderboard_item", :locals => {:name => 'Jorge', :progress => '330', :amt => '72'} %>
      <%= render :partial => "shared/leaderboard_item", :locals => {:name => 'Spock', :progress => '320', :amt => '64'} %>
      <%= render :partial => "shared/leaderboard_item", :locals => {:name => 'Thaddeus', :progress => '300', :amt => '60'} %>
      <%= render :partial => "shared/leaderboard_item", :locals => {:name => 'Jesus', :progress => '280', :amt => '50'} %>
      <%= render :partial => "shared/leaderboard_item", :locals => {:name => 'Elder', :progress => '260', :amt => '40'} %>
      <%= render :partial => "shared/leaderboard_item", :locals => {:name => 'Jeremy', :progress => '240', :amt => '27'} %>
    </tbody>
  </table>
</div>
