<div id="tabs">
  <div id="tabs_container">
    <ul id="home_tabs">
      <li><a href="#live" onclick="return false;">Live</a></li>
      <li><a href="#completed" onclick="return false;">Completed</a></li>
      <li><a href="#leaderboard" onclick="return false;">Leaderboard</a></li>
    </ul>
  </div>
  <div id="live">
    <h1>CURRENT RUNS FOR WATSI</h1>


    <div class="projects-container">
    <% @projects.each do |project| %>
      <div class="project-tile">
        <%= image_tag(project.avatar_url) %>
        <%- progress_number = ((project.raised_amount.to_f/project.target_amount.to_f)*100).round(0) %>
        <progress value="<%= progress_number %>" max="100"></progress>
        <div class="project-info">
          <div class="project-blurb">
            <h3><%= project.name %>'s Story</h3>
            <%= project.description %>
          </div>
          <div class="project-sponsor">
          </div>
        </div>
        <div class="project-stats">
          <div class="stat-block">
            <%= (70..130).to_a.sample %>
            <div class="stat-info">COMPLETED</div>
          </div>
          <div class="stat-block">
            $<%= project.raised_amount.to_s.split('.').first %> / <%= project.target_amount.to_s.split('.').first %>
            <div class="stat-info">RAISED SO FAR</div>
          </div>
          <div class="stat-block">
            <%= (30..100).to_a.sample %>
            <div class="stat-info">HEROES</div>
          </div>
        </div>
        <div class="project-button">
          <a href="/auth/runkeeper" class="run-button">RUN FOR THIS</a>
        </div>

      </div>
    <% end %>
  </div>
  </div>
  <div id="completed">
    <h1>COMPLETED RUNS FOR WATSI</h1>

    <div class="projects-container">
    <% @completed_projects.each do |project| %>
      <div class="projected-tile">
        <%= image_tag(project.avatar_url) %>
        <progress value="100" max="100"></progress>
        <div class="project-info">
          <div class="project-blurb">
            <h3><%= project.name %>'s Story</h3>
            <%= project.description %>
          </div>
          <div class="project-sponsor">
          </div>
        </div>
        <div class="projected-button">
        </div>
      </div>
    <% end %>
  </div>
  </div>
  <div id="leaderboard">
    <h1>TOP RUNNERS</h1>
    <%= render :partial => "shared/leaderboard" %>
  </div>
</div>
