<div id="tabs">
  <div id="tabs_container">
    <ul id="home_tabs">
      <li><a href="#live" onclick="return false;">Live</a></li>
      <li><a href="#completed" onclick="return false;">Completed</a></li>
      <li><a href="#leaderboard" onclick="return false;">Leaderboard</a></li>
    </ul>
  </div>
  <div id="live">
    <h1>CURRENT RUNS FOR WATSI</h1>


    <div class="funds-container">
    <% @funds.each do |fund| %>
      <div class="fund-tile">
        <%= image_tag(fund.avatar_url) %>
        <%- progress_number = ((fund.raised_amount.to_f/fund.target_amount.to_f)*100).round(0) %>
        <progress value="<%= progress_number %>" max="100"></progress>
        <div class="fund-info">
          <div class="fund-blurb">
            <h3><%= fund.name %>'s Story</h3>
            <%= fund.description %>
          </div>
          <div class="fund-sponsor">
          </div>
        </div>
        <div class="fund-stats">
          <div class="stat-block">
            <%= (70..130).to_a.sample %>
            <div class="stat-info">COMPLETED</div>
          </div>
          <div class="stat-block">
            $<%= fund.raised_amount.to_s.split('.').first %> / <%= fund.target_amount.to_s.split('.').first %>
            <div class="stat-info">RAISED SO FAR</div>
          </div>
          <div class="stat-block">
            <%= (30..100).to_a.sample %>
            <div class="stat-info">HEROES</div>
          </div>
        </div>
        <div class="fund-button">
          <a href="/auth/runkeeper" class="run-button">RUN FOR THIS</a>
        </div>
  
      </div>
    <% end %>
  </div>
  </div>
  <div id="completed">
    <h1>COMPLETED RUNS FOR WATSI</h1>

    <div class="funds-container">
    <% @completed_funds.each do |fund| %>
      <div class="funded-tile">
        <%= image_tag(fund.avatar_url) %>
        <progress value="100" max="100"></progress>
        <div class="fund-info">
          <div class="fund-blurb">
            <h3><%= fund.name %>'s Story</h3>
            <%= fund.description %>
          </div>
          <div class="fund-sponsor">
          </div>
        </div>
        <div class="funded-button">
        </div>
      </div>
    <% end %>
  </div>
  </div>
  <div id="leaderboard">
    <h1>TOP RUNNERS</h1>
    <%= render :partial => "shared/leaderboard" %>
  </div>
</div>
